{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  // "presets": ["@babel/preset-react", ],
  "plugins": [
    // ["@babel/plugin-proposal-decorators", {
    //   "legacy": true
    // }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["import", {
      "libraryName": "antd",
      "style": false
    }]
  ],
}